<!DOCTYPE html>
<html lang="de">
    <head>
            <link rel="stylesheet" type="text/css" href="styles.css">
        <meta charset="UTF-8">
        <title>Willkommen</title>  
    </head>
    <body>
        <h2>Willkommen <%= user%> </h2>


        <a href="/ueberweisung" class="button">Überweisung ausführen</a>
        <br>
        <a href="/login" class="button">Abmelden</a>
    </body>
</html>