<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="styles.css">
        <title>Konto anlegen</title>  
    </head>
    <body>
        <h1>Konto anlegen</h1>
        <form method="POST" action="/kontoAnlegen">
            <p>Kontonummer</p>
            <input type="number" title="idKonto" name="idKonto"/>
            <input type="password" title="username" name="password" placeholder="Passwort" />
            <button>Konto anlegen</button>      
        </form>
    </body>
</html>